.itemContainer{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    border-radius: 10px;
    margin: 30px;
    overflow: hidden;
}
.itemImage{
    width: 100%;
}
.itemContent{
    text-align: center;
}
.itemName{
    font-size: 18px;
    font-weight: 600;
    color: grey;
}
.buttonContainer{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}
.itemButton{
    border: 0;
    outline: 0;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    font-weight: 700;
}