
.search{
    margin: 0 600px;
    width: 20%;
    text-align: center;
    padding: 10px 10px 0 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

.card{
    border: 1px solid black;
    margin: 20px 0;
    width: 400px;
    padding: 20px 5px;
    text-align: center;
    border-radius: 20px;
}

.card .image{
    margin: 20px 0 10px 0;
    width: 400px;
    border-radius: 10px;
}